*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: black;
    width: 100%;
    height: 120px;

}
.enlace{
    position: absolute;
    padding: 20px 50px;
    width: 10%;
}
.logo{
    height: 60px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 200px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
}
nav ul li a{
    color: aliceblue;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.container-fluid{
    background-color: black;
    height: 90px;
    padding: 20px;
    position: fixed;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 70px;

}
body{
    background-image: url(../img/backimg.png);
}
.navbar navbar-expand-lg bg-body-tertiary p-0{
    z-index: 100;
}
.navbar-expand-lg .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 20px;
    
}
.navbar-expand-lg .navbar-collapse {
    padding: 20px;
}
.container-fluid{
    background-color: black;
    height: 90px;
    padding: 20px;
    position: fixed;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 70px;
    z-index: 100;

}
.navbar-toggler{
    color: #ff0000;
}

.navbar-nav me-auto mb-2 mb-lg-0{
    display: flex;
    justify-content: space-between;
}

.menu_bar{
    display: none;
}
.carousel {
    width: 100%; /* Ancho del carrusel */
    margin: 0 auto;
    overflow: hidden;
}
  
.slides {
    display: flex;
    max-height: 100%;
    height:auto;
    transition: transform 0.5s ease;
}
  
.slide {
    flex: 0 0 100%; 
}
  
.carruselFoto {
    width: 100%;
    height: 100%;
}

.pilotos{
    display: flex;
}
.pilotoC{
    border-radius: 50%;
    width: 10%; 
    height: 150px; 
}
.fotoPiloto{
    border-radius: 50%;
    width: 100%; 
    
}

.imagen-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.foto {
  border-radius: 50%;
  width: 250px; 
  height: 250px; 
  margin-left: 20px;
  margin-right: 40px; 
  cursor: pointer;
}
.section{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(202, 226, 43);
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight:600;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.section p{
    margin-left: 10px;
    margin-bottom: 0px;
}
    

.todasNotas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    padding-top: 0PX;
    overflow: hidden;
}
.notas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    height: auto;
    width: 100%;
    height: 1000px;
}
.notas img{
    width: 50%;
    height: 100%;
    object-fit: cover;

}
.fecha{
    color:rgb(202, 226, 43) ;
    margin-left: 20px;
}
.titulo{
    text-align: center;
    margin-left: 20px;
    font-size: 70px;
    color:rgb(202, 226, 43) ;
    
}
.textt{
    
    display: flex;
    margin-top: 3px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-align: justify;
    align-self: center;
    object-fit: contain;

}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: aliceblue;
    padding: 20px;

}
/*Desktop*/

@media (min-width: 1200px) and (max-width: 1980px) {
    .enlace{
        padding: 0;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    nav ul{
        float: right;
        margin-right: 1px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0; 
        height: 110px;
    }
    
    .collapse navbar-collapse{
        display: flex;
        justify-content: space-between;
    }
 
  
    .carousel{
        width: 100%;
    }
    .slide{
        max-height: 100%;
        height:auto;
       
    }
    .slides{
        width: 100%;
        height: 700px;
    }
    .carruselFoto{
        width: 100%;
        height: 100%;
        
    }
    .imagen-container{
        display: flex;
        overflow:auto;
        margin-top: 40px;
        

    }
    .section{

        font-size: 40px;
    }
    .box2{
        justify-content:space-around;
    }
    .textt{
        height: auto;
        margin-left: 50px;
    }
    .textt p{
        font-size: 18px;
        
    }
    .foto{
        width: 20%;
        height: 250px;
    }
    .todasNotas{
        
        width: 100%;
        height: 1000px;
        
    }
}
/* Tablet*/

@media (min-width: 768px) and (max-width: 1200px) {
    .enlace{
        padding: 0;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        width: 10%;
    }
    nav ul{
        float: right;
        margin-right: 1px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0; 
        height: 110px;
    }
    nav ul li a{
        font-size: 14px;

    }
    .container-fluid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        object-fit: contain;
        overflow: hidden;
    }
    .imagen-container{
        display: flex;
        overflow:auto;
        margin-top: 40px;
        

    }
    .carousel{
        width: 100%;
    }
    .slide{
        max-height: 100%;
        height:auto;
       
    }
   
    .carruselFoto{
        width: 100%;
        height: 100%;
        
    }

    .section{

        font-size: 40px;
    }
  
    .textt{
        height: auto;
        margin-top: 60px;
    }
    .textt p{
        font-size: 18px;
        
    }
    .foto{
        width: 25%;
        height: 220px;
    }
    .todasNotas{
        height: 100%;
    }
    .notas{
        display:block;
        height: 100%;  

    }
    .notas img{
        width: 100%;
        height: 100%;

    }
    
    .titulo{
        width: 100%;
        margin-top: 50px;
    }
    .box2{
        width: 100%;
    }

}
    

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 55%;
        background: black;
        top: 80px;
        left: 100%;
        margin-left: 0; 
        text-align: center;
        transition: all 0.5s;
        display:flex;
        flex-direction: column;
        align-items: center;
       
    }
    nav{
        position: relative;
        z-index: 9999;
    }
    nav ul{
        margin-right: 0;
        width: 100%;
        position: fixed;
    }
    
 
    li a:hover, li a.active{
        background: none;
        color: rgb(202, 226, 43);
    }
    #check:checked ~ul{
        left: 0;

    }
   
    .container-fluid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        object-fit: contain;
        overflow: hidden;
    }
 
    .textt{
        height: auto;
        margin-top: 60px;
    }
    .textt p{
        font-size: 18px;
        
    }
    .foto{
        width: 25%;
        height: 220px;
    }
    .todasNotas{
        height: 100%;
    }
    .notas{
        display:block;
        height: 100%;  

    }
    .notas img{
        width: 100%;
        height: 100%;

    }
    
    .titulo{
        width: 100%;
        margin-top: 50px;
    }
    .box2{
        width: 100%;
    }
    .foto{
        width: 20%;
        height: 100px;
    }
    .imagen-container{
        display: flex;
        overflow:auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .section{
        margin: 0;
    }
    .titulo{
        margin: 0;
        font-size: 60px;
    }
}