*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: black;
    width: 100%;
    height: 120px;
 
}
.enlace{
    position: absolute;
    padding: 20px 50px;
    width: 10%;
}
.logo{
    height: 60px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 200px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
}
nav ul li a{
    color: aliceblue;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.container-fluid{
    background-color: black;
    height: 90px;
    padding: 20px;
    position: fixed;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 70px;

}

.videoBanner{
    width: 100%;
    height: 10%;
    border: 0ch;
    margin: 0%;
}
.video{
    width: 100%;

}



.backgroundImage{
    width: 100%;
    height: 1000px;
    background-image: url(../img/backimg.png);
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
} 

.picture{
    padding: 50px;
    width: 50%;
}
.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 100px;
    

}

.textF1{
    padding: 40px;
    font-size: 30px;
}
h1{
    font-size: 90px;
}


.boton1 {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: rgb(16, 16, 15);
    background-color: rgb(202, 226, 43);
    border: none;
    border-radius: 9px;
    transition: background-color 0.3s ease; 
    width: 30%;
    height: 10%;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
  
.boton1:hover {
    background-color: #ff0000;
    color: aliceblue;
}
.tiempo{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.buttonT {
    margin-right: 20px;
    width: 40%;
    padding: 10px 20px;
    color: rgb(16, 16, 15);
    background-color: rgb(202, 226, 43);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave de color */
    font-size: 15px;
    cursor: pointer;
}
  
.buttonT:hover {
    background-color: #ff0000;
    color: aliceblue;
}
.imggP{
    width: 50%; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imggP:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
  }
  
.box{
    display: flex;
    width: 100%;
    height: 600px;
}
.box2{
    display: flex;
    padding: 20px;
    width: 50%;
}
.secondB{
   color: aliceblue;
   
}
.years{
    margin-bottom: 10px;
}
.secctiempo{
    background-image: url(../img/whiteBanner.jpg);
}

.years{
    font-size: 50px;
}
.textoalt{
    width: 90%;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    text-align: justify;
}
.minibanner{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(7, 7, 7);
    height: 90px;
    overflow: hidden;
    


}

.imgg {
    width: 100%;
    height: 80px;
    position: relative;
    animation: mymove  9s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
} 

.banner2{
    width: 100%;
    height: 10%;
}
.img2{
    width: 100%;

}

/* desktop*/

@media (min-width: 1200px) and (max-width: 1980px) {
    .enlace{
        padding: 0;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    nav ul{
        float: right;
        margin-right: 1px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0; 
        height: 110px;
    }
    
    .collapse navbar-collapse{
        display: flex;
        justify-content: space-between;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:50px ;
        padding: 100px;
        width: 50%;
    
    }
    .text h1{
        font-size: 70px;
    }
    .picture{
        width: 50%;
    }
    .picture img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .boton1 {
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        color: rgb(16, 16, 15);
        background-color: rgb(202, 226, 43);
        border: none;
        border-radius: 9px;
        transition: background-color 0.3s ease; /* Transición suave de color */
        width: 70%;
        height: 10%;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .imggP{
        width: 50%; 
        height: auto;
    
        transition: transform 0.3s ease;
    }
    .box2{
        display: flex;
        padding: 20px;
        width: 50%;
    }
    .textoalt{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: left;
        text-align: justify;
        font-size: 21px;
        margin-right: 60px;
    }
    .years{
        font-size: 40px;
        font-weight: bolder;
    }
}

/* Tablet*/

@media (min-width: 768px) and (max-width: 1200px) {
    .enlace{
        padding: 0;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        width: 10%;
    }
    nav ul{
        float: right;
        margin-right: 1px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0; 
        height: 110px;
    }
    nav ul li a{
        font-size: 14px;

    }
    
    .container-fluid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        object-fit: contain;
        overflow: hidden;
    }
    .navbar-toggler{
        width: 200;
        position: absolute; /* Permite ajustar la posición de forma absoluta */
        top: 20px; /* Distancia desde la parte superior */
        right: 20px;
        color: #ff0000;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        overflow: hidden;
    }
    .navbar navbar-expand-lg bg-body-tertiary p-0{
        width: 100%;
        object-fit: cover;
    }
    .navbar-expand-lg .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        
        
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 20px;
    }
    .backgroundImage{
        width: 100%;
        height: 70%;
        background-image: url(../img/backimg.png);
        padding: 0%;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    } 
    .picture{
        width: 100%;
        height: 700px;
    }
    .picture img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    .text{
       padding: 0;
  
       margin-bottom: 50px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
    
    }
    .textF1{
        font-size: 20px;
    }
    .boton1 {
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        color: rgb(16, 16, 15);
        background-color: rgb(202, 226, 43);
        border: none;
        border-radius: 9px;
        transition: background-color 0.3s ease; /* Transición suave de color */
        width: 40%;
        height: 30%;
        font-size: 30px;
    }
    .tiempo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttonT{
        width: 30%;
        margin-bottom: 10px; 
    }
    .box{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #uno{
        order: 2;
    }
    #dos{
        order: 1;
    }
    .box2{
        width: 100%;
    }
    .imggP{
        width: 100%; 
        height: 50%;
    
        transition: transform 0.3s ease;
    }
    .textoalt{
        padding: 20px;
        width: 100%;
        font-size: 15px;
    }
    .years{
        font-size: 40px;
    }

}

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 55%;
        background: black;
        top: 80px;
        left: 100%;
        margin-left: 0; 
        text-align: center;
        transition: all 0.5s;
        display:flex;
        flex-direction: column;
        align-items: center;
       
    }
    nav{
        position: relative;
        z-index: 9999;
    }
    nav ul{
        margin-right: 0;
        width: 100%;
        position: fixed;
    }
    
 
    li a:hover, li a.active{
        background: none;
        color: rgb(202, 226, 43);
    }
    #check:checked ~ul{
        left: 0;

    }

   
    .container-fluid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        object-fit: contain;
        overflow: hidden;
    }
    .navbar-toggler{
        width: 200;
        position: absolute; /* Permite ajustar la posición de forma absoluta */
        top: 20px; /* Distancia desde la parte superior */
        right: 20px;
        color: #ff0000;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        overflow: hidden;
    }
    .navbar navbar-expand-lg bg-body-tertiary p-0{
        width: 100%;
        object-fit: cover;
    }
    .navbar-expand-lg .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        
        
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 20px;
    }
    .minibanner{
        width: 100%;

    }
    .imgg{
        width: 100%;
    }
    .backgroundImage{
        width: 100%;
        height: 70%;
        background-image: url(../img/backimg.png);
        padding: 0%;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    } 
    .picture{
        width: 100%;
        height: 700px;
    }
    .picture img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    .text{
       padding: 0;
  
       margin-bottom: 50px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
    
    }
    .textF1{
        font-size: 20px;
    }
    .boton1 {
        display: flex;
        justify-content: center;
        align-items: center;       
        padding: 10px 10px;
        color: rgb(16, 16, 15);
        background-color: rgb(202, 226, 43);
        border: none;
        border-radius: 9px;
        transition: background-color 0.3s ease; /* Transición suave de color */
        width: 40%;
        height: 10%;
        font-size: 20px;
        text-align: center;
        text-decoration: solid;
        text-transform: uppercase;
        font-weight: 600;
    }
    .tiempo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttonT{
        width: 30%;
        margin-bottom: 10px; 
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    #box{
        display: flex;
        flex-direction: column; 
    }
    #uno{
        order: 2;
    }
    #dos{
        order: 1;
    }
    .box2{
        width: 100%;
   
    }
    .imggP{
        width: 100%; 
        height: 50%;
    
        transition: transform 0.3s ease;
    }
    .textoalt{
        padding: 20px;
        width: 100%;
        font-size: 15px;
    }
    .years{
        font-size: 40px;
    }
    #table2{
        width: 50%;
        padding: 20px;
    }
    
  }